<settings>

    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.TimeSegments" title="Time segment color (RGB Hex value ex FF00EE)">
        <settingConfig type="alphaNumeric"/>           
    </setting>
    <setting propertyKey="@Properties.HourHandColor" title="Hour hand color (RGB Hex)">
        <settingConfig type="alphaNumeric"/>           
    </setting>
    <setting propertyKey="@Properties.MinHandColor" title="Minutes hand color (RGB Hex)">
        <settingConfig type="alphaNumeric"/>           
    </setting>
    <setting propertyKey="@Properties.SecHandColor" title="Seconds hand color (RGB Hex)">
        <settingConfig type="alphaNumeric"/>           
    </setting>
    <setting propertyKey="@Properties.CosinusColor" title="Cosinus color (RGB Hex)">
        <settingConfig type="alphaNumeric"/>           
    </setting>
    <setting propertyKey="@Properties.SinusColor" title="Sinus color (RGB Hex)">
        <settingConfig type="alphaNumeric"/>           
    </setting>
    <setting propertyKey="@Properties.AngleColor" title="Angle color (RGB Hex)">
        <settingConfig type="alphaNumeric"/>           
    </setting>
        <setting propertyKey="@Properties.AxisColor" title="Axises color (RGB Hex)">
        <settingConfig type="alphaNumeric"/>           
    </setting>

     <setting propertyKey="@Properties.ShowSeconds" title="Show seconds hands">
        <settingConfig type="boolean"/>           
    </setting>


    <setting propertyKey="@Properties.Cosinushand" title="Cosinus/sinus on witch hand?">
        <settingConfig type="list">
            <listEntry value="0">None</listEntry>
            <listEntry value="1">Hours hand</listEntry>
            <listEntry value="2">Minutes hand</listEntry>
            <listEntry value="3">Seconds hand</listEntry>
        </settingConfig>
    </setting>

</settings>
